.cart-container {
    width: 60vw;

    margin: auto;

    display: flex;
    flex-flow: column nowrap;
}

.cart-item {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    font-size: 2vw;
}

.list-total {
    display: flex;

    justify-content: flex-end;
    align-items: center;

    font-size: 2vw;
}

.list-total strong{
    white-space: pre;
}